#root > div {
  min-height: 100vh;
}

.social {
  display: flex;

  a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: 8px;

    svg {
      height: 20px;
    }
  }
}

.question-helper-btn {
  svg {
    height: 40px;
  }
}

.question-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  
  > button:not(.question),
  > div:not(.question) {
    align-self: flex-end;
    margin-bottom: 70px;
  }
}

.history-btn {
  position: absolute;
  bottom: calc(50% + 10px);
  left: 50px;

  @media (max-width: 319px) {
    left: 5px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.7);
}


@media (max-width: 991px) {
  .question-helper-btn {
    svg {
      height: 30px;
    }
  }
  .history-btn {
    left: 15px;
  }
  .question-wrapper {
    > div:not(.question) {
      margin-bottom: 30px;
    }
  }
}

.window-height {
  height: calc(100vh - 60px);
}

.login-image {
  height: 100%;
  margin-right: 15px;

  @media (max-width: 1199px) {
    margin-right: 0;
  }
}

.login-page {
  min-height: calc(100vh - 84px);
  padding-top: 24px;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.login-content {
  max-width: 480px;
  background: rgba(237, 237, 237, .7);
  margin-right: 10%;
  position: relative;
  top: -20px;
  border-radius: 10px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}