.question {
  min-width: 640px;
  max-width: 70vw;
  background: rgba(0,0,0,.6);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: white;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  button {
    width: 50%;
    min-width: 200px;
    height: 80px;
    margin: 0 auto 30px;
  }
  
  @media (max-width: 991px) {
    min-width: initial;
  }

  @media (max-width: 640px) {
    min-width: initial;

    button {
      height: 40px;
      margin: 0 auto 10px;
    }
  }
}