.question {
  min-width: 640px;
  max-width: 70vw;
  background: rgba(0,0,0,.6);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  h1 {
    color: white;
    text-align: center;
    font-size: 30px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  button {
    width: 90%;
    max-width: 200px;
    height: 60px;
    margin: 0 auto 30px;
  }

  @media (max-width: 767px) {
    min-width: initial;

    button {
      height: 40px;
      margin: 0 auto 10px;
    }
  }
}