.question {
  min-width: 640px;
  max-width: 80vw;
  background: rgba(0,0,0,.6);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: white;
    text-align: center;
  }

  button {
    width: 50%;
    min-width: 200px;
    height: 80px;
    margin: 0 auto 30px;
  }

  @media (max-width: 640px) {
    min-width: initial;

    h1 {
      font-size: 30px;
    }

    button {
      height: 50px;
    }
  }
}