.banner {
  background: #29004e;
  border-radius: 8px;
  padding-left: 40px;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 10px;
  }
  
  h1 {
    color: white;
    font-size: 30px;
  }

  p {
    color: #ccc;
  }

  a {
    color: white;
  }

  &__content {
    padding: 24px 0;
  }
}